<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>

	<?include Sapsan2.wxi?>

	<Fragment>

		<?define AppVersion="01.00.0000.0000"?>
		<?define AppMajorVersion="2"?>
		<?define AppMinorVersion="0"?>
		<?define AppShortName="Сапсан 2-10M"?>
		<?define AppInternalName="M10"?>
		<?define AppDirectory="APPLICATIONFOLDER"?>
		<?define AppDescription="Сапсан 2-10М для проведения поверки, испытаний и контроля метрологических характеристик измерителей скорости, имеющих рабочую частоту 10.50-10.55 ГГц."?>
		<!--<?define AppFileName="$(var.AppInternalName).exe"?>-->
		<?define AppFileName="Sapsan2_10M.exe"?>
		<?define AppIcon="Product.ico"?>
		<?define AppFileNameAliases="$(var.AppFileName)"?>

		<?define AppRegKey="$(var.ProductRegKey)\$(var.AppInternalName)"?>

		<?define AppFileExts=rhl;prt?>
		<!--<?define AppVersionIndependentProgId="$(var.ProductProgIdPrefix).$(var.AppInternalName)"?>-->
		<?define AppUserModelId="$(var.ProductProgIdPrefix).$(var.AppInternalName).$(var.AppMajorVersion).$(var.AppMinorVersion)"?>

		<Feature
			Id="$(var.AppInternalName)"
			Level="1"
			Absent="allow"
			Display="2"
			AllowAdvertise="yes"
			InstallDefault="local"
			TypicalDefault="install"
			Title="$(var.AppShortName)"
			Description="$(var.AppDescription)"
			ConfigurableDirectory="$(var.AppDirectory)"
		>
			<ComponentRef	Id="$(var.AppInternalName)" Primary="yes"/>
			<ComponentRef Id="$(var.AppInternalName).SetInst10.dat"/>
			<?foreach FileExt in $(var.AppFileExts)?>
			<ComponentGroupRef Id="$(var.ProductInternalName)_$(var.FileExt)FileTypeComponents"/>
			<?endforeach?>
			<ComponentGroupRef Id="$(var.ProductInternalName)CommonFiles"/>
			<ComponentGroupRef Id="$(var.ProductInternalName)Pictures"/>
		</Feature>

		<DirectoryRef Id="$(var.AppDirectory)" FileSource=".\SourceDir\ProgramFiles">

			<Component
				Id="$(var.AppInternalName)"
				Guid="{EE2468D3-4E6B-4543-BD2F-F86C133A0ADD}"
				Location="either"
			>
				<File
					Name="$(var.AppFileName)"
					KeyPath="yes"
					Source=".\SourceDir\ProgramFiles\$(var.AppInternalName)\Stend.exe"
					Vital="yes"
					Checksum="yes"
				>
					<?foreach ShFolder in $(var.ShFolders)?>
					<Shortcut
						Id="$(var.AppInternalName).Shortcut.$(var.ShFolder)"
						Directory="$(var.ShFolder)"
						Name="$(var.AppShortName)"
						Description="$(var.AppDescription)"
						WorkingDirectory="$(var.AppDirectory)"
						Show="normal"
						Icon="$(var.AppIcon)"
						Advertise="yes"
					>
						<!--<ShortcutProperty Key="System.AppUserModel.ID" Value="$(var.AppUserModelId)"/>-->
					</Shortcut>
					<?endforeach?>
				</File>
				<?foreach ShFolder in $(var.ShFolders)?>
				<RemoveFolder
					Id="$(var.AppInternalName).ShFolder.$(var.ShFolder)"
					Directory="$(var.ShFolder)"
					On="uninstall"
				/>
				<?endforeach?>

				<!-- http://msdn.microsoft.com/ru-RU/library/windows/desktop/ee872121(v=vs.85).aspx -->
				<RegistryKey
					Root="HKLM"
					Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths"
				>
					<?foreach AppFileNameAlias in $(var.AppFileNameAliases)?>
					<RegistryKey Key="$(var.AppFileNameAlias)">
						<RegistryValue Type="string" Value="[#$(var.AppFileName)]" />
					</RegistryKey>
					<?endforeach?>
				</RegistryKey>
				<RegistryKey
					Root="HKCR"
					Key="Applications"
				>
					<RegistryKey Key="$(var.AppFileName)">
						<RegistryValue Type="string" Value="[#$(var.AppFileName)]" />
						<RegistryValue Name="FriendlyAppName" Type="string" Value="$(var.AppShortName)" />
						<RegistryValue Name="NoOpenWith" Type="integer" Value="0" />
						<RegistryKey Key="SupportedTypes">
							<?foreach FileExt in $(var.AppFileExts)?>
							<RegistryValue Name=".$(var.FileExt)" Type="string" Value="" />
							<?endforeach?>
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>
				<RegistryKey
					Root="HKLM"
					Key="SOFTWARE\RegisteredApplications"
				>
					<RegistryValue Name="$(var.AppUserModelId)" Type="string" Value="$(var.AppRegKey)\Capabilities" />
				</RegistryKey>
				<RegistryKey
					Root="HKLM"
					Key="$(var.AppRegKey)\Capabilities"
				>
					<RegistryValue Name="ApplicationName" Type="string" Value="$(var.AppShortName)" />
					<RegistryValue Name="ApplicationDescription" Type="string" Value="$(var.AppDescription)" />
					<RegistryValue Name="Hidden" Type="integer" Value="0" />
					<RegistryKey Key="FileAssociations">
						<?foreach FileExt in $(var.AppFileExts)?>
						<RegistryValue Name=".$(var.FileExt)" Type="string" Value="$(var.AppContentTypePrefix)-$(var.FileExt).document" />
						<?endforeach?>
					</RegistryKey>
					<RegistryKey Key="MIMEAssociations">
						<?foreach FileExt in $(var.AppFileExts)?>
						<RegistryValue Name="$(var.AppContentTypePrefix)-$(var.FileExt).document" Type="string" Value="$(var.AppUserModelId)" />
						<?endforeach?>
					</RegistryKey>
				</RegistryKey>
			</Component>

			<Component
				Id="$(var.AppInternalName).SetInst10.dat"
				Guid="{67720D53-D83E-4965-B8F9-B993518B1868}"
				Location="either"
			>
				<File
					Name="setinst10.dat"
					Source=".\SourceDir\ProgramFiles\$(var.AppInternalName)\setinst10.dat"
					KeyPath="yes"
					Vital="yes"
				/>
			</Component>

		</DirectoryRef>

	</Fragment>
</Wix>
