<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>

	<?include Sapsan2.wxi?>

	<Fragment>

		<?define AppIcon="Product.ico"?>

		<?define AppFileExt=prt?>
		<?define AppProgId="prtfile"?>
		<?define AppProgIdDescription='Протокол поверки измерителей скорости"'?>
		<?define AppContentType="$(var.AppContentTypePrefix)-$(var.AppFileExt).document"?>

		<ComponentGroup Id="$(var.ProductInternalName)_$(var.AppFileExt)FileTypeComponents">

			<Component
				Id="$(var.ProductInternalName)_$(var.AppFileExt)FileType"
				Directory="APPLICATIONFOLDER"
				Location="either"
			>
				<ProgId
					Id="$(var.AppProgId)"
					Description="$(var.AppProgIdDescription)"
					Icon="$(var.AppIcon)"
					Advertise="no"
				>
					<Extension
						Id="$(var.AppFileExt)"
					>
						<MIME
							ContentType="$(var.AppContentType)"
							Default="yes"
						/>
					</Extension>
				</ProgId>

				<RegistryKey
					Root="HKCR"
					Key=".$(var.AppFileExt)"
					ForceCreateOnInstall="yes"
					ForceDeleteOnUninstall="yes"
				>
					<PermissionEx Sddl="$(var.AppRegKeySddl)"/>
					<!--<RegistryValue Name="PerceivedType" Type="string" Value="text"/>-->
				</RegistryKey>

				<RegistryKey
					Root="HKLM"
					Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\KindMap"
				>
					<RegistryValue Name=".$(var.AppFileExt)" Type="string" Value="Document" />
				</RegistryKey>

				<RegistryKey
					Root="HKCR"
					Key="$(var.AppProgId)"
					ForceCreateOnInstall="yes"
					ForceDeleteOnUninstall="yes"
				>
					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/bb762506(v=vs.85).aspx -->
					<!-- FTA_HasExtension(0x4) + FTA_NoEdit(0x8) + FTA_NoRemove(x10) + FTA_NoNewVerb(x20) + FTA_NoEditVerb(x40)
						+ FTA_NoRemoveVerb(x80) + FTA_NoEditDesc(x100) + FTA_NoEditIcon(x200) + FTA_NoEditDflt(x400)
						+ FTA_NoEditVerbCmd(x800) + FTA_NoEditVerbExe(x1000) + FTA_NoDDE(x2000) + FTA_NoEditMIME(x4000)
						+ FTA_OpenIsSafe(0x00010000) + !FTA_AlwaysUnsafe(0x00020000) + 
						+ !FTA_NoRecentDocs(0x00100000) + !FTA_SafeForElevation(0x00200000) + !FTA_AlwaysUseDirectInvoke(0x00400000) -->
					<RegistryValue Name="EditFlags" Type="integer" Value="98300" />

					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/bb986055.aspx#MSDNMag2001Nov -->
					<!--!!! http://windowssucks.wordpress.com/file-type-registration/ -->
					<!--<RegistryValue Name="InfoTip" Type="string" Value="" />-->
					<!--<RegistryValue Name="TileInfo" Type="string" Value="" />-->
					<RegistryValue Name="NoOpen" Type="string" Value="" />
					<RegistryValue Name="NoOpenWith" Type="string" Value="" />
					<!--<RegistryValue Name="NoPreviousVersions" Type="string" Value="" />-->
					<RegistryValue Name="NoJumpListPathTooltip" Type="string" Value="" />
					<RegistryValue Name="NoRecentDocs" Type="string" Value="" />
					<!--<RegistryValue Name="NeverShowExt" Type="string" Value="" />-->
					<!--<RegistryValue Name="NoSendTo" Type="string" Value="" />-->
					<RegistryValue Name="DownloadInvokeDisabled" Type="string" Value="" />
					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/cc144152#fa_attributes -->
					<!--<RegistryValue Name="AllowSilentDefaultTakeOver" Type="string" Value="" />-->
					<RegistryValue Name="AppUserModelID " Type="string" Value="$(var.AppProgId)" />

					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/hh127468 -->
					<!--<RegistryValue Name="ContentViewModeForBrowse " Type="string" Value="" />-->

					<PermissionEx Sddl="$(var.AppRegKeySddl)"/>
					<RegistryKey
						Key="DefaultIcon"
						ForceCreateOnInstall="yes"
					>
						<PermissionEx Sddl="$(var.AppRegKeySddl)"/>
					</RegistryKey>
				</RegistryKey>
			</Component>

			<Component
				Id="common.RemoveProgId.$(var.AppFileExt)_auto_file"
				Directory="APPLICATIONFOLDER"
			>
				<RegistryKey
					Root="HKCU"
					Key="$(var.ProductRegKey)"
				>
					<RegistryValue Name="$(var.AppFileExt)_AutoProgIdRemoved" Type="integer" Value="1" KeyPath="yes" />
				</RegistryKey>
				<RemoveRegistryKey
					Root="HKCU"
					Key="SOFTWARE\Classes\.$(var.AppFileExt)\OpenWithProgids"
					Action="removeOnInstall"
				/>
				<RemoveRegistryKey
					Root="HKCU"
					Key="SOFTWARE\Classes\$(var.AppFileExt)_auto_file"
					Action="removeOnInstall"
				/>
				<RemoveRegistryKey
					Root="HKCU"
					Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.$(var.AppFileExt)"
					Action="removeOnInstall"
				/>
			</Component>

		</ComponentGroup>

	</Fragment>
</Wix>
