<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>

	<?include Sapsan2.wxi?>

	<Fragment>

		<?define AppVersion="01.00.0000.0000"?>
		<?define AppMajorVersion="2"?>
		<?define AppMinorVersion="0"?>
		<?define AppShortName="Сапсан 2-24M"?>
		<?define AppInternalName="M24"?>
		<?define AppDirectory="APPLICATIONFOLDER"?>
		<?define AppDescription="Сапсан 2-24М для проведения поверки, испытаний и контроля метрологических характеристик измерителей скорости, имеющих рабочую частоту 24.50-24.55 ГГц."?>
		<!--<?define AppFileName="$(var.AppInternalName).exe"?>-->
		<?define AppFileName="Sapsan2_24M.exe"?>
		<?define AppIcon="Product.ico"?>
		<?define AppFileNameAliases="$(var.AppFileName)"?>

		<?define AppRegKey="$(var.ProductRegKey)"?>

		<?define AppFileExt=rhl?>
		<?define AppFileExts=rhl;prt?>
		<!--<?define AppVersionIndependentProgId="$(var.ProductProgIdPrefix).$(var.AppInternalName)"?>-->
		<!--<?define AppProgId="$(var.ProductProgIdPrefix).$(var.AppInternalName).$(var.AppMajorVersion).$(var.AppMinorVersion)"?>-->
		<?define AppProgId="rhlfile"?>
		<?define AppProgIds=rhlfile;prtfile?>
		<?define AppProgIdDescription='Шаблон протокола поверки измерителей скорости"'?>
		<?define AppContentType="$(var.AppContentTypePrefix)-$(var.AppFileExt).document"?>

		<?define AppRegKeySddl="D:AI(A;CI;KA;;;BU)(A;;KR;;;BU)(A;CIIO;GR;;;BU)(A;;KA;;;BA)(A;CIIO;GA;;;BA)(A;;KA;;;SY)(A;CIIO;GA;;;SY)(A;CIIO;GA;;;CO)(A;;KR;;;AC)(A;CIIO;GR;;;AC)"?>

		<Feature
			Id="$(var.AppInternalName)"
			Level="1"
			Absent="allow"
			Display="2"
			AllowAdvertise="yes"
			InstallDefault="local"
			TypicalDefault="install"
			Title="$(var.AppShortName)"
			Description="$(var.AppDescription)"
			ConfigurableDirectory="$(var.AppDirectory)"
		>
			<ComponentGroupRef Id="$(var.AppInternalName)Components" Primary="yes"/>
		</Feature>

		<?define AppFiles=protocol.lst;marcodex.ico;olv.bmp;olv.ico;pp.bmp;start.bmp;stop.bmp;yy.bmp?>

		<ComponentGroup Id="$(var.AppInternalName)Components">
			<ComponentRef	Id="$(var.AppInternalName)" Primary="yes"/>
			<ComponentRef Id="$(var.AppInternalName).SetInst24.dat"/>
			<?foreach FileExt in $(var.AppFileExts)?>
			<ComponentRef Id="common.RemoveProgId.$(var.FileExt)_auto_file"/>
			<?endforeach?>
			<ComponentGroupRef Id="$(var.ProductInternalName)Pictures"/>
		</ComponentGroup>

		<DirectoryRef Id="$(var.AppDirectory)" FileSource=".\SourceDir\ProgramFiles">

			<Component
				Id="$(var.AppInternalName)"
				Guid="{D8068A8C-ED06-4062-BE53-0BABDD62C2CA}"
				Location="either"
			>
				<File
					Name="$(var.AppFileName)"
					KeyPath="yes"
					Source=".\SourceDir\ProgramFiles\$(var.AppInternalName)\Stend.exe"
					Vital="yes"
					Checksum="yes"
				>
					<?foreach ShFolder in $(var.ShFolders)?>
					<Shortcut
						Id="$(var.AppInternalName).Shortcut.$(var.ShFolder)"
						Directory="$(var.ShFolder)"
						Name="$(var.AppShortName)"
						Description="$(var.AppDescription)"
						WorkingDirectory="$(var.AppDirectory)"
						Show="normal"
						Icon="$(var.AppIcon)"
						Advertise="yes"
					>
						<!--<ShortcutProperty Key="System.AppUserModel.ID" Value="$(var.AppProgId)"/>-->
					</Shortcut>
					<?endforeach?>
				</File>
				<?foreach ShFolder in $(var.ShFolders)?>
				<RemoveFolder
					Id="$(var.AppInternalName).ShFolder.$(var.ShFolder)"
					Directory="$(var.ShFolder)"
					On="uninstall"
				/>
				<?endforeach?>
				<?foreach AppFile in $(var.AppFiles)?>
				<File
					Name="$(var.AppFile)"
					CompanionFile="$(var.AppFileName)"
				/>
				<?endforeach?>
				<ProgId
					Id="$(var.AppProgId)"
					Description="$(var.AppProgIdDescription)"
					Icon="$(var.AppIcon)"
					Advertise="yes"
				>
					<?ifdef $(var.AppVersionIndependentProgId)?>
					<ProgId
						Id="$(var.AppVersionIndependentProgId)"
						Description="$(var.AppProgIdDescription)"
						Icon="$(var.AppIcon)"
					/>
					<?endif?>
					<Extension
						Id="$(var.AppFileExt)"
						Advertise="yes"
					>
						<MIME
							ContentType="$(var.AppContentType)"
							Default="yes"
							Advertise="yes"
						/>
					</Extension>
				</ProgId>
				<ProgId
					Id="prtfile"
					Description="Протокол поверки измерителей скорости"
					Icon="$(var.AppIcon)"
					Advertise="yes"
				>
					<Extension
						Id="prt"
						Advertise="yes"
					>
						<MIME
							ContentType="$(var.AppContentTypePrefix)-prt.document"
							Default="yes"
							Advertise="yes"
						/>
					</Extension>
				</ProgId>

				<?foreach FileExt in $(var.AppFileExts)?>
				<RegistryKey
					Root="HKCR"
					Key=".$(var.FileExt)"
					ForceCreateOnInstall="yes"
					ForceDeleteOnUninstall="yes"
				>
					<PermissionEx Sddl="$(var.AppRegKeySddl)"/>
					<!--<RegistryValue Name="PerceivedType" Type="string" Value="text"/>-->
				</RegistryKey>
				<?endforeach?>

				<!-- http://msdn.microsoft.com/ru-RU/library/windows/desktop/ee872121(v=vs.85).aspx -->
				<RegistryKey
					Root="HKLM"
					Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths"
				>
					<?foreach AppFileNameAlias in $(var.AppFileNameAliases)?>
					<RegistryKey Key="$(var.AppFileNameAlias)">
						<RegistryValue Type="string" Value="[#$(var.AppFileName)]" />
					</RegistryKey>
					<?endforeach?>
				</RegistryKey>
				<RegistryKey
					Root="HKCR"
					Key="Applications"
				>
					<RegistryKey Key="$(var.AppFileName)">
						<RegistryValue Type="string" Value="[#$(var.AppFileName)]" />
						<RegistryValue Name="FriendlyAppName" Type="string" Value="$(var.AppShortName)" />
						<RegistryValue Name="NoOpenWith" Type="integer" Value="0" />
						<RegistryKey Key="SupportedTypes">
							<?foreach FileExt in $(var.AppFileExts)?>
							<RegistryValue Name=".$(var.FileExt)" Type="string" Value="" />
							<?endforeach?>
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>
				<RegistryKey
					Root="HKLM"
					Key="SOFTWARE\RegisteredApplications"
				>
					<RegistryValue Name="$(var.AppProgId)" Type="string" Value="$(var.AppRegKey)\Capabilities" />
				</RegistryKey>
				<RegistryKey
					Root="HKLM"
					Key="$(var.AppRegKey)\Capabilities"
				>
					<RegistryValue Name="ApplicationName" Type="string" Value="$(var.AppShortName)" />
					<RegistryValue Name="ApplicationDescription" Type="string" Value="$(var.AppDescription)" />
					<RegistryValue Name="Hidden" Type="integer" Value="0" />
					<RegistryKey Key="FileAssociations">
						<RegistryValue Name=".$(var.AppFileExt)" Type="string" Value="$(var.AppProgId)" />
						<RegistryValue Name=".prt" Type="string" Value="prtfile" />
					</RegistryKey>
					<RegistryKey Key="MIMEAssociations">
						<RegistryValue Name="$(var.AppContentType)" Type="string" Value="$(var.AppProgId)" />
						<RegistryValue Name="$(var.AppContentTypePrefix)-prt.document" Type="string" Value="prtfile" />
					</RegistryKey>
				</RegistryKey>
				<RegistryKey
					Root="HKLM"
					Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\KindMap"
				>
					<?foreach FileExt in $(var.AppFileExts)?>
					<RegistryValue Name=".$(var.FileExt)" Type="string" Value="Document" />
					<?endforeach?>
				</RegistryKey>

				<RegistryKey
					Root="HKCR"
					Key="$(var.AppProgId)"
					ForceCreateOnInstall="yes"
					ForceDeleteOnUninstall="yes"
				>
					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/bb762506(v=vs.85).aspx -->
					<!-- FTA_HasExtension(0x4) + FTA_NoEdit(0x8) + FTA_NoRemove(x10) + FTA_NoNewVerb(x20) + FTA_NoEditVerb(x40)
						+ FTA_NoRemoveVerb(x80) + FTA_NoEditDesc(x100) + FTA_NoEditIcon(x200) + FTA_NoEditDflt(x400)
						+ FTA_NoEditVerbCmd(x800) + FTA_NoEditVerbExe(x1000) + FTA_NoDDE(x2000) + FTA_NoEditMIME(x4000)
						+ FTA_OpenIsSafe(0x00010000) + !FTA_AlwaysUnsafe(0x00020000) + 
						+ !FTA_NoRecentDocs(0x00100000) + !FTA_SafeForElevation(0x00200000) + !FTA_AlwaysUseDirectInvoke(0x00400000) -->
					<RegistryValue Name="EditFlags" Type="integer" Value="98300" />

					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/bb986055.aspx#MSDNMag2001Nov -->
					<!--!!! http://windowssucks.wordpress.com/file-type-registration/ -->
					<!--<RegistryValue Name="InfoTip" Type="string" Value="" />-->
					<!--<RegistryValue Name="TileInfo" Type="string" Value="" />-->
					<RegistryValue Name="NoOpen" Type="string" Value="" />
					<RegistryValue Name="NoOpenWith" Type="string" Value="" />
					<!--<RegistryValue Name="NoPreviousVersions" Type="string" Value="" />-->
					<RegistryValue Name="NoJumpListPathTooltip" Type="string" Value="" />
					<RegistryValue Name="NoRecentDocs" Type="string" Value="" />
					<!--<RegistryValue Name="NeverShowExt" Type="string" Value="" />-->
					<!--<RegistryValue Name="NoSendTo" Type="string" Value="" />-->
					<RegistryValue Name="DownloadInvokeDisabled" Type="string" Value="" />
					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/cc144152#fa_attributes -->
					<!--<RegistryValue Name="AllowSilentDefaultTakeOver" Type="string" Value="" />-->
					<RegistryValue Name="AppUserModelID " Type="string" Value="$(var.AppProgId)" />

					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/hh127468 -->
					<!--<RegistryValue Name="ContentViewModeForBrowse " Type="string" Value="" />-->

					<PermissionEx Sddl="$(var.AppRegKeySddl)"/>
					<RegistryKey
						Key="DefaultIcon"
						ForceCreateOnInstall="yes"
					>
						<PermissionEx Sddl="$(var.AppRegKeySddl)"/>
					</RegistryKey>
				</RegistryKey>

				<RegistryKey
					Root="HKCR"
					Key="prtfile"
					ForceCreateOnInstall="yes"
					ForceDeleteOnUninstall="yes"
				>
					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/bb762506(v=vs.85).aspx -->
					<!-- FTA_HasExtension(0x4) + FTA_NoEdit(0x8) + FTA_NoRemove(x10) + FTA_NoNewVerb(x20) + FTA_NoEditVerb(x40)
						+ FTA_NoRemoveVerb(x80) + FTA_NoEditDesc(x100) + FTA_NoEditIcon(x200) + FTA_NoEditDflt(x400)
						+ FTA_NoEditVerbCmd(x800) + FTA_NoEditVerbExe(x1000) + FTA_NoDDE(x2000) + FTA_NoEditMIME(x4000)
						+ FTA_OpenIsSafe(0x00010000) + !FTA_AlwaysUnsafe(0x00020000) + 
						+ !FTA_NoRecentDocs(0x00100000) + !FTA_SafeForElevation(0x00200000) + !FTA_AlwaysUseDirectInvoke(0x00400000) -->
					<RegistryValue Name="EditFlags" Type="integer" Value="98300" />

					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/bb986055.aspx#MSDNMag2001Nov -->
					<!--!!! http://windowssucks.wordpress.com/file-type-registration/ -->
					<!--<RegistryValue Name="InfoTip" Type="string" Value="" />-->
					<!--<RegistryValue Name="TileInfo" Type="string" Value="" />-->
					<RegistryValue Name="NoOpen" Type="string" Value="" />
					<RegistryValue Name="NoOpenWith" Type="string" Value="" />
					<!--<RegistryValue Name="NoPreviousVersions" Type="string" Value="" />-->
					<RegistryValue Name="NoJumpListPathTooltip" Type="string" Value="" />
					<RegistryValue Name="NoRecentDocs" Type="string" Value="" />
					<!--<RegistryValue Name="NeverShowExt" Type="string" Value="" />-->
					<!--<RegistryValue Name="NoSendTo" Type="string" Value="" />-->
					<RegistryValue Name="DownloadInvokeDisabled" Type="string" Value="" />
					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/cc144152#fa_attributes -->
					<!--<RegistryValue Name="AllowSilentDefaultTakeOver" Type="string" Value="" />-->
					<RegistryValue Name="AppUserModelID " Type="string" Value="prtfile" />

					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/hh127468 -->
					<!--<RegistryValue Name="ContentViewModeForBrowse " Type="string" Value="" />-->

					<PermissionEx Sddl="$(var.AppRegKeySddl)"/>
					<RegistryKey
						Key="DefaultIcon"
						ForceCreateOnInstall="yes"
					>
						<PermissionEx Sddl="$(var.AppRegKeySddl)"/>
					</RegistryKey>
				</RegistryKey>

			</Component>

			<?foreach FileExt in $(var.AppFileExts)?>
			<Component
				Id="common.RemoveProgId.$(var.FileExt)_auto_file"
			>
				<RegistryKey
					Root="HKCU"
					Key="$(var.AppRegKey)"
				>
					<RegistryValue Name="$(var.FileExt)_AutoProgIdRemoved" Type="integer" Value="1" KeyPath="yes" />
				</RegistryKey>
				<RemoveRegistryKey
					Root="HKCU"
					Key="SOFTWARE\Classes\.$(var.FileExt)\OpenWithProgids"
					Action="removeOnInstall"
				/>
				<RemoveRegistryKey
					Root="HKCU"
					Key="SOFTWARE\Classes\$(var.FileExt)_auto_file"
					Action="removeOnInstall"
				/>
				<RemoveRegistryKey
					Root="HKCU"
					Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.$(var.FileExt)"
					Action="removeOnInstall"
				/>
			</Component>
			<?endforeach?>

			<Component
				Id="$(var.AppInternalName).SetInst24.dat"
				Guid="{E76F1F1F-DE7E-4A87-9C62-17F4ABA3B508}"
				Location="either"
			>
				<File
					Name="setinst24.dat"
					Source=".\SourceDir\ProgramFiles\$(var.AppInternalName)\setinst24.dat"
					KeyPath="yes"
					Vital="yes"
				/>
			</Component>

		</DirectoryRef>

	</Fragment>
</Wix>
